<div class="info-section">
    <div class="img-user">
        <img src="@githubUser.avatar_url" alt="" />
    </div>
    <div class="user-info">
        <div class="info-header">
            <p>@githubUser.name</p>
            <p>@githubUser.created_at</p>
        </div>
        <div class="info-bio">
            <a href="@githubUser.html_url">@($"@")@githubUser.login</a>
            @if (githubUser.bio is not null)
            {
                <p>@githubUser.bio</p>
            }
            else
            {
                <p>This profile has no bio</p>
            }
        </div>
        <div class="info-repo">
            <div>
                <span>Repos</span>
                <span>@githubUser.public_repos</span>
            </div>
            <div>
                <span>Followers</span>
                <span>@githubUser.followers</span>
            </div>
            <div>
                <span>Following</span>
                <span>@githubUser.following</span>
            </div>
        </div>
        <div class="info-footer">
            <p>
                <img src="Images/icon-location.svg" />
                @if (githubUser.location is not null)
                {
                    <span> @githubUser.location</span>
                }
                else
                {
                    <span>Not Available</span>
                }
            </p>
            <p>
                <img src="Images/icon-twitter.svg" />
                @if (githubUser.twitter_username is not null)
                {
                    <span> @githubUser.twitter_username</span>
                }
                else
                {
                    <span>Not Available</span>
                }
            </p>
            <p>
                <img src="Images/icon-website.svg" />
                @if (githubUser.blog is not null)
                {
                    <span> @githubUser.blog</span>
                }
                else
                {
                    <span>Not Available</span>
                }
            </p>
            <p>
                <img src="Images/icon-company.svg" />
                @if (githubUser.company is not null)
                {
                    <span> @githubUser.company</span>
                }
                else
                {
                    <span>Not Available</span>
                }
            </p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public GithubUser? githubUser { get; set; } = new();
}
