@inject IGithubUserApi githubUserApi

<div class="info-section">
    <div class="header">
        <img src="@GithubUser.avatar_url" alt="No picture found"/>
        <div class="bio-section">
            <div class="info-header">
                <div class="name">
                    <p class="user-name">@GithubUser.name</p>
                    <a href="@GithubUser.html_url">@($"@")@GithubUser.login</a>
                </div>
                <p>Joined @GithubUser.created_at.ToString("dd MMMM yyyy")</p>
            </div>
            <div class="info-bio">
                @if (GithubUser.bio is not null)
                {
                    <p>@GithubUser.bio</p>
                }
                else
                {
                    <p>This profile has no bio</p>
                }
            </div>
        </div>
    </div>
    <div class="info-bio-mobile">
        @if (GithubUser.bio is not null)
        {
            <p>@GithubUser.bio</p>
        }
        else
        {
            <p>This profile has no bio</p>
        }
    </div>
    <div class="user-info">
        <div class="info-repo">
            <div>
                <p class="title">Repos</p>
                <p class="info">@GithubUser.public_repos</p>
            </div>
            <div>
                <p class="title">Followers</p>
                <p class="info">@GithubUser.followers</p>
            </div>
            <div>
                <p class="title">Following</p>
                <p class="info">@GithubUser.following</p>
            </div>
        </div>
        <div class="info-footer">
            <div>
                <img class="location-img" src="Images/icon-location.svg" />
                @if (GithubUser.location is null)
                {
                    <span class="not-available">Not Available</span>
                }
                <span> @GithubUser.location</span>
            </div>
            <div>
                <img class="twitter-img" src="Images/icon-twitter.svg" />
                @if (GithubUser.twitter_username is null)
                {
                    <span class="not-available">Not Available</span>
                }
                <a href=@($"https://twitter.com/{@GithubUser.twitter_username}")>
                    <span> @GithubUser.twitter_username</span>
                </a>

            </div>
            <div>
                <img class="blog-img" src="Images/icon-website.svg" />
                @if (GithubUser.blog == "")
                {
                    <span class="not-available">Not Available</span>

                }
                <a href="@GithubUser.blog">
                    <span> @GithubUser.blog</span>
                </a>
            </div>
            <div>
                <img class="company-img" src="Images/icon-company.svg" />
                @if (GithubUser.company is null)
                {
                    <span class="not-available">Not Available</span>
                }
                <span> @GithubUser.company</span>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public GithubUser? GithubUser { get; set; } = new();
}
